<div class="transaction-event-view">
    <div class="title">Транзакция</div>
    <div class="transaction-type">
        Тип транзакции: {{#if isComing}}Приход{{else}}Расход{{/if}}
    </div>
    <div class="currency">Валюта: {{currency}}</div>
    <div class="sum">Сумма транзакции: {{sum}}</div>
    <div class="from">Адресат: {{from}}</div>
    <div class="date">Дата проведения: {{date}}</div>
    <div class="description">Описание: {{description}}</div>
    <input class="remove action" type="button" value="Удалить" {{#if onRemove }} onClick={{onRemove}} {{/if}} />
</div>
