<div class="event {{type}} {{#if isComing}}is-coming{{/if}}" data-id="{{id}}">
    <span class="sum">{{sum}}</span>
    <span class="currency">{{currency}}</span>
    <div class="from">from: {{from}}</div>
    <div class="date">{{date}}</div>
</div>
